// Page
.page {
   
}

.background-angle {
	
	position: relative;

	&:before {
		content: '';
		background-color: $grey-7;
		clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

/* 	> .gb-inside-container {
		position: relative;
		z-index: 6;
	} */
}