// Settings

// Mixins
@import 'mixins/backgrounds';

$black: #000;

$grey-1: #252B33;
$grey-2: #424242;
$grey-3: #454C54;
$grey-4: #4A4A4A;
$grey-5: #979797;
$grey-6: #ececec;
$grey-7: #FCF9F9;


$blue: #3389B8;


$white: #fff;

// $error: $orange-dark;

$grid-container-width: 1300px;

$heading-font: 'Montserrat', sans-serif;

$body-font: 'Open Sans', sans-serif;